.mainRectangle {
    text-align: center;
    color: black;
    height: 10px;
    margin: 0 auto;
    padding: 50px;
    line-height: 10px;
}

.red {
    background-color: red;
    width: 50%;
}

.blue {
    background-color: blue;
    width: 60%;
}

.green{
    background-color: green;
    margin-bottom: 100px;
    width: 70%;
}

.purpleContainer {
    width: 70%;
    margin: 0 auto;
}

.square {
    background-color: purple;
    width: 100px;
    height: 100px;
    float: left;
}

.right {
    float: right;
}